@mixin progressSettings {
  width:100%;
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s ease;

}
.box {
  padding: 20px;
  font-size: 100px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(210, 207, 207, 0.5);
  &:hover {
    background-color: rgba(210, 207, 207, 0.8);
  }
}

.healthBar {
  background-color: #7ad37a;
  @include progressSettings
}
.hungryBar {
  background-color: #4179b0;
  @include progressSettings
}
.funBar {
  background-color: #f3f34f;
  @include progressSettings
}

.progressBar {
  width:100%;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  color:white;
  background-color: #ced2ce;
  overflow: hidden;
}
.chooseAnimal {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.redd.it/zbcfsv2skfk61.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
}
.animalsPlace {
  width:70vw;
  margin:auto;
}
.pet {
  font-size:50px;
  position:absolute;
  left: 0;
  top: 50%;
  animation: walking 100s infinite linear;
}
.walkingPlace {
  //top: 35%;
  //left:20%;
  //width: 70%;
  height: 80%;
  position:relative;
}
.cell {

}
.game {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.redd.it/zbcfsv2skfk61.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.gameContainer {
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.food {
  font-size: 50px;
  cursor:pointer;
}
.gameContainer > .cell {
  //border: 1px solid black;
}
.gamePet {
  font-size:100px;
  cursor:pointer;
}
.sprite {
  background-image: url("https://i.pinimg.com/originals/d1/60/8b/d1608b6a476fdc44836adb313bfd582b.png");
  background-size: 400px 400px;
  background-position: 0 0;
  width: 100px;
  height: 100px;

}

@keyframes walking {
  0%   { left: 25%;transform: scaleX(1)}
  25%  { left: 35%;transform: scaleX(1)}
  50%  { left: 75%; transform: scaleX(-1)}
  75%  { left: 35%; transform: scaleX(-1)}
  100% { left: 25%; transform: scaleX(-1)}
}
//0%   {top: 0; left: 0;}
//25%  {top: 0; left: 90%;}
//50%  {top: 80%; left: 90%;}
//75%  {top: 80%; left: 0;}
//100% {top: 0; left: 0;}